<div class="big_card_container">

 <div class="big_card_photo">
  <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="" height="350px" >
 </div>



 
 <div class="big_card_title">

    

    <h1><a href="#"> lasosalaso angular cli asasasassacccaca</a></h1>

 </div>


 <div class="big_card_description"> 

    <p>
        <a href="#">     

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit venenatis aliquam. Fusce eget urna ex. Donec sodales lacus vel ante cursus vehicula. Vivamus mattis eu metus ac consequat. Cras eu urna dolor. Sed et volutpat ipsum. Nulla erat erat, porttitor eu libero non, dignissim volutpat lorem. In malesuada in dolor quis cursus. 
        Quisque nec posuere sapien. Donec sit amet metus mollis, laoreet metus nec, dictum lectus. Proin sit amet consectetur neque.
    </a> 
    </p>


 </div>

</div>
