
<div class=" container_smal-card">
    
    <div class="container_smal-card-content">


 
        <div class="small_card_photo" >
            <img src="{{photoCover}}"  
            alt="" height="200" width="100%"
            srcset="" >
           </div>
          
          
          
           
           <div class="small_card_title">
              <h1><a  [routerLink]="['content',Id]"> {{cardTitle}}</a></h1>
    
           </div>

    


           

    </div>


    




   

    
    
</div>

<div class="container_smal-card_separator">
<hr>
</div>


