


<app-menu-title></app-menu-title>


<div class="container_articles">

    <div class="articles_main">
      
      <app-big-card 
      Id="1"
      
      photoCover="https://www.otempo.com.br/image/contentid/policy:1.2543020:1631889554/Screen-Shot-2021-09-17-at-11-30-13-AM-png.png?f=3x2&w=1224" 
      
      cardTitle="Coragem-o-Cao-Covarde  "
      
      cardDescription=" Scooby doo e Coragem o Cao Covarde  se encontram em novo filme" >
      </app-big-card>

    </div>




    <div class="articles_others">

      <app-small-card  
       Id="2" 
       cardTitle="10 Vilões Mais ASSUSTADORES De Coragem o Cão Covarde " 
       photoCover="https://i.ytimg.com/vi/r3TaJkLGeuk/maxresdefault.jpg">
      
      
      </app-small-card>



      <app-small-card  
      
      Id="3" 
      cardTitle="Conheça a história  do desenho animado 'Coragem o Cão Covarde' "  
      photoCover="https://pm1.aminoapps.com/7408/920fdec2e92c8739ec8e5f5fd26a9641bea16654r1-500-281v2_hq.jpg">

      </app-small-card>



      <app-small-card 
     
       Id="4" 
      
      cardTitle="Coragem, o cão covarde' pode ganhar série prequel' " 
      photoCover="https://imgsapp2.correiobraziliense.com.br/app/noticia_127983242361/2018/10/26/715051/20181025164646706457u.jpg">
    
    </app-small-card>
    </div>


</div>